<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!-- Название у нас будет products -->
{% block title %}
news
{% endblock title %}

{% block content %}
{% load custom_filters %}

<br> </br>
<h3> Общее количество новостей: {{ news|length }} </h3>
<br> </br>
 {% if news %}
    <table>
        <tr>
            <td>заголовок</td>
            <td>Дата публикации</td>
            <td>Преставление статьи</td>
            <td>Тип</td>
        </tr>

        {% for new in news %}
        <tr>
            <td>{{ new.title|censor }}</td>
            <td>{{ new.date|date:'d.m.y' }}</td>
            <td>{{ new.text|censor|truncatechars:20 }}</td>
            <td>{{ new.type }}</td>
        </tr>
        {% endfor %}
    </table>
 {% else %}
       <h2>Товаров нет!</h2>
 {% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая,</a>
            <a href="?page={{ page_obj.previous_page_number }}"> Предидущая страница {{ page_obj.previous_page_number }}, </a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> Следующая страница {{ page_obj.next_page_number }}, </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">  Последняя &laquo; </a>
        {% endif %}
    </span>
</div>

<!-- В контенте на странице мы выводим все товары -->
{% endblock content %}